<template>
    <div v-if="isReadySocket">
        <v-tabs fixed-tabs dark color="primary">
            <v-tabs-slider color="yellow"></v-tabs-slider>
            <v-tab href="#tab-1">
                Realtime
            </v-tab>
            <!-- <v-tab href="#tab-2">
                Trend
            </v-tab> -->
            <v-tab-item v-for="i in 2" :key="i" :id="'tab-' + i">
                <div v-if="i==1">
                    <realtime></realtime>
                </div>
                <div v-else-if="i==2">
                    <trend></trend>
                </div>
                <div v-else>
                    <v-card flat>
                        <v-card-text>
                            Not Available yet :)
                        </v-card-text>
                    </v-card>
                </div>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
    import realtime from './realtime.vue'
    import trend from './trend.vue'
    import jsKu from './devicestatus.js'
    export default {
        layout: 'layout',
        components: {
            realtime,
            trend
        }, data() {
            return {
                isReadySocket: false,
            }
        }, mounted() {
            this.initSocket()

        }, methods: {
            getlist() {
                const thisV = this
                jsKu.actions.GetAllDeviceByEmailuser({
                    thisV: this
                }).then(value => {
                    if (value.error === 0) {
                        if (value.payload.devices === null) {
                            return
                        }
                        var tempArray = []
                        tempArray = value.payload.devices
                        $(document).trigger("boardcast_list_token", [tempArray])
                    } else {
                        swal('Info', value.msg, 'error')
                        // window.location.reload()
                    }
                }).catch((err) => {
                    console.error(err)
                })
            },

            initSocket() {
                const thisV = this
                window.socketIO = window.io(this.$store.state.urlWS);
                window.socketIO.on('connect', function () {
                    thisV.isReadySocket = true
                    $.notify("Terkoneksi dengan realtime server", "success");
                    thisV.$nextTick(function () {
                        this.$nextTick(function () {
                            this.getlist()
                        })
                    })
                });
                window.socketIO.on('disconnect', function () {
                    thisV.isReadySocket = false
                    $.notify("Koneksi dengan server Terputus  !!!", "error");
                });
                window.socketIO.on('error', function (err) {
                    alert(err)
                    $.notify(err, "error");
                });
            }
        }
    }
</script>