<template>
    <div>
        <div flat v-for="(item,index) in listGauge" v-if="item.deviceAlias!=''">
            <v-card class="grey lighten-3
            elevation-14 my-3
            ">
                <v-card-title>
                    <!-- nama alat status offline atau onlimne -->
                    <h2 class="text-xs-center" style="color:green" v-if="item.OnlineOffline=='Online'">
                        {{ item.deviceAlias}} Status {{item.OnlineOffline}} updated At : {{item.lastUpdated}}
                    </h2>
                    <h2 class="text-xs-center" style="color:red" v-if="item.OnlineOffline=='Offline' ">
                        {{ item.deviceAlias}} Status {{item.OnlineOffline}} updated At : {{item.lastUpdated}}
                    </h2>
                    <h2 class="text-xs-center" style="color:red" v-if="item.OnlineOffline=='' ">
                        {{ item.deviceAlias}} Status Offline
                    </h2>
                    <hr>
                    <div v-if="item.OnlineOffline=='Online'">
                        <h2 class="text-xs-center" style="color:red" v-if="item.OnlineOffline=='' ">
                            Command
                        </h2>
                        <div style="border:solid gray 1px;margin-left:5px">
                            <v-btn class="primary" @click="sendSocketOn(item._id)">
                                On
                            </v-btn>
                            <v-btn class="error" @click="sendSocketOff(item._id)">
                                Off
                            </v-btn>
                        </div>
                    </div>
                </v-card-title>
                <v-card-text>
                    <canvas class="text-xs-center" :id="item.containerId+'Tegangan'">abc</canvas>
                    <canvas class="text-xs-center" :id="item.containerId+'Arus'">abc</canvas>
                    <canvas class="text-xs-center" :id="item.containerId+'Daya'">abc</canvas>
                </v-card-text>
            </v-card>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tempID: '12121',
                listGauge: [
                ],
                statusDevice: {}
            }
        },
        mounted() {
            const thisV = this
            this.listGauge = []
            $(document).on("boardcast_list_token", function (e, params) {
                var tempArray = []
                if (!!params === false) {
                    return
                }
                params.forEach(element => {
                    element["OnlineOffline"] = ""
                    element["lastUpdated"] = ""
                    element["containerId"] = thisV.renderRandomId()
                    tempArray.push(element)
                });
                thisV.listGauge = tempArray

                thisV.$nextTick(function () {
                    // setTimeout(() => {
                    thisV.listGauge.forEach(element => {
                        thisV.initWidget(element)
                    });
                    // }, 1000);
                })
            })
        }, methods: {
            renderRandomId() {
                return 'kontainer' + moment().format('x') + Math.random().toString(36).substring(7);
            },
            /**
* Get a random floating point number between `min` and `max`.
* 
* @param {number} min - min number
* @param {number} max - max number
* @return {number} a random floating point number
*/
            getRandomFloat(min, max) {
                return Math.random() * (max - min) + min;
            },

            /**
             * Get a random integer between `min` and `max`.
             * 
             * @param {number} min - min number
             * @param {number} max - max number
             * @return {number} a random integer
             */
            getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min);
            },

            /**
             * Get a random boolean value.
             * 
             * @return {boolean} a random true/false
             */
            getRandomBool() {
                return Math.random() >= 0.5;
            },
            sendSocketOn(deviceID) {
                window.socketIO.emit("browser_cmd_on", deviceID)
            },
            sendSocketOff(deviceID) {
                window.socketIO.emit("browser_cmd_off", deviceID)
            },
            initWidget(param) {
                const thisV = this
                try {
                    var maxVal = 300
                    var maxTick = 10
                    var majorTicks = [0]
                    for (let index = 1; index < maxTick - 1; index++) {
                        let temp = parseInt(maxVal / maxTick * index)
                        majorTicks.push(temp)
                    }
                    majorTicks.push(maxVal)
                    var gaugeTegangan = new window.RadialGauge({
                        renderTo: param.containerId + 'Tegangan',
                        minorTicks: 10,
                        majorTicks: majorTicks,
                        value: 0.000000,
                        width: 300,
                        height: 300,
                        minValue: 0,
                        maxValue: maxVal,
                        units: "Volt",
                        title: "Tegangan",
                        colorValueBoxShadow: true,
                        strokeTicks: "true",
                        colorPlate: "#E0F2F1",
                        borderShadowWidth: "0",
                        borders: "false",
                        needleType: "arrow",
                        needleWidth: 2,
                        needleCircleSize: 7,
                        needleCircleOuter: true,
                    });
                    gaugeTegangan.draw();

                    var gaugeArus = new window.RadialGauge({
                        renderTo: param.containerId + 'Arus',
                        minorTicks: 2,
                        majorTicks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                        value: 0.000000,
                        width: 300,
                        height: 300,
                        minValue: 0,
                        maxValue: 10,
                        units: "Ampere",
                        title: "Arus",
                        colorValueBoxShadow: true,
                        strokeTicks: "true",
                        colorPlate: "#F9FBE7",
                        borderShadowWidth: "0",
                        borders: "false",
                        needleType: "arrow",
                        needleWidth: 2,
                        needleCircleSize: 7,
                        needleCircleOuter: true,
                    });
                    gaugeArus.draw();


                    var gaugeDaya = new window.RadialGauge({
                        renderTo: param.containerId + 'Daya',
                        minorTicks: 10,
                        majorTicks: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                        value: 0.000000,
                        width: 300,
                        height: 300,
                        minValue: 0,
                        maxValue: 100,
                        units: "kW",
                        title: "Daya",
                        colorPlate: "#E8F5E9",
                        borderShadowWidth: "0",
                        borders: "false",
                        needleType: "arrow",
                        needleWidth: 2,
                        needleCircleSize: 7,
                        needleCircleOuter: true,
                    });
                    gaugeDaya.draw();

                    // init socket io

                    const roomID = 'quest_browser_' + param._id
                    param._id = String(param._id).replace(" ", "")
                    window.socketIO.on(param._id + "_close", function (msg) {
                        param.OnlineOffline = "Offline"
                        param.lastUpdated = moment(msg).format("HH-mm-ss DD-MM-YYYY")
                        gaugeTegangan.update({
                            value: 0
                        })
                        gaugeTegangan.draw()
                        gaugeArus.update({
                            value: 0
                        })
                        gaugeArus.draw()
                        gaugeDaya.update({
                            value: 0
                        })
                        gaugeDaya.draw()
                    })
                    window.socketIO.on(param._id + "_online", function (msg) {
                        param.OnlineOffline = "Online"
                        param.lastUpdated = moment(msg).format("HH-mm-ss DD-MM-YYYY")
                    })
                    window.socketIO.on(roomID, function (msg) {
                        try {
                            const dataScoket = JSON.parse(msg)
                            gaugeTegangan.update({
                                value: dataScoket.tegangan
                            })
                            gaugeTegangan.draw()
                            gaugeArus.update({
                                value: dataScoket.arus
                            })
                            gaugeArus.draw()
                            gaugeDaya.update({
                                value: dataScoket.daya / 10
                            })
                            gaugeDaya.draw()
                        } catch (error) {
                            console.error(error)
                        }
                    })
                    window.socketIO.on("quest_tes", function (msg) {
                        // alert(msg)
                    })
                    window.socketIO.on('error', function (err) {
                        alert(err)
                        $.notify(err, "error");
                    });
                } catch (error) {
                    console.error(error)
                }
            }
        }
    }
</script>