<template>
    <div>
        <div id="tempID" style="width: 600px;height:400px;"></div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.testWidget()
        },
        methods: {
            testWidget() {
                function randomData() {
                    now = new Date(+now + oneSeconds);
                    value = value + Math.random() * 21 - 10;
                    return {
                        name: now.toString(),
                        value: [
                            [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                            Math.round(value)
                        ]
                    }
                }

                var data = [];
                var now = +new Date(2018, 9, 3);
                var oneDay = 24 * 3600 * 1000;
                var oneSeconds = 3600 * 1000;
                var value = Math.random() * 1000;
                for (var i = 0; i < 100; i++) {
                    data.push(randomData());
                }

                var option = {
                    title: {
                        text: 'Perangkat 1'
                    },
                    dataZoom: {
                        show: true,
                        realtime: true,
                        start: 20,
                        end: 80
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            var date = new Date(params.name);
                            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
                        },
                        axisPointer: {
                            animation: false
                        }
                    },
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%'],
                        splitLine: {
                            show: false
                        }
                    },
                    series: [{
                        name: '模拟数据',
                        type: 'line',
                        showSymbol: false,
                        hoverAnimation: false,
                        data: data
                    }]
                };
                var myChart = echarts.init(document.getElementById('tempID'));
                myChart.setOption(option);
                setInterval(function () {

                    for (var i = 0; i < 5; i++) {
                        data.shift();
                        data.push(randomData());
                    }

                    myChart.setOption({
                        series: [{
                            data: data
                        }]
                    });
                }, 1000);
            }
        }
    }    
</script>