<template>

    <div>
        <v-layout row justify-center>
            <v-dialog v-model="dialog.show" fullscreen transition="dialog-bottom-transition" :overlay="false">
                <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-btn icon @click="onClose()" dark>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title dark> {{propsMode}} Perangkat </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <!-- <v-toolbar-items>
                                <v-btn dark flat @click.native="dialog = false">Save</v-btn>
                            </v-toolbar-items> -->
                    </v-toolbar>
                    <div>
                        <br>
                        <v-layout>
                            <v-flex xs2>

                            </v-flex>
                            <v-flex xs6>
                                <v-card>
                                    <v-card-text>
                                        <v-text-field required disabled label="ID Perangkat  :" v-model="form._id" persistent-hint></v-text-field>

                                        <v-text-field required label="Nama Perangkat :" v-model="form.deviceAlias" persistent-hint></v-text-field>
                                        <v-text-field required label="Email Pelanggan:" v-model="form.emailPelanggan" persistent-hint></v-text-field>
                                        <v-text-field required label="ID Remote:" v-model="form.hardwareId" persistent-hint></v-text-field>
                                        <div style="
                                           position: relative;
                                           align-items: center;
                                           align-content: center;
                                           ">
                                            <v-btn block color="primary" @click="onSubmit">
                                                Simpan
                                            </v-btn>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>

<script>
    import jsKu from './deviceadmin'

    export default {
        props: ['propsShow', 'propsMode', 'propsForm'],
        data() {
            return {
                dialog: {
                    show: false,
                    mode: '' //Tambah OR Edit
                },
                notifications: false,
                sound: true,
                widgets: false,
                form: {
                    deviceID: '',
                    deviceAlias: '',
                    emailPelanggan: ''
                }
            }
        },
        watch: {
            propsShow(param) {
                let temp = JSON.stringify(this.propsForm)
                this.form = JSON.parse(temp)
                this.dialog.show = param
            }
        },
        mounted() {
            this.dialog.show = false
        }, methods: {
            onClose() {
                this.dialog.show = false
                this.$emit("onClose")
            },
            onSubmit() {
                jsKu.actions.httpDevicePelangganEdit(
                    this,
                    this.form,
                ).then(value => {
                    if (value.error === 0) {
                        swal('', value.msg, 'success')
                        thisV.dialog = false
                    } else {
                        swal('', value.msg, 'error')
                    }
                }).catch((err) => {
                    console.error(err)
                })
            }
        }
    }
</script>