<template>
  <div>

    <v-layout wrap row>
      <v-flex xs12>
        <h2>
          Device Admin
          <v-btn small color="primary" @click="generatedNewDevices()">
            <v-icon>
              add
            </v-icon>
          </v-btn>
          <v-btn small color="info" @click="getlist()">
            <v-icon>
              refresh
            </v-icon>
          </v-btn>
        </h2>

      </v-flex>
      <v-divider></v-divider>
      <v-flex xs12>
        <v-data-table :headers="headers" :items="itemsTable" :search="search" :pagination.sync="pagination" :total-items="totalItems"
          :loading="loading">
          <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{props.item.index}}</td>
            <td class="text-xs-center">{{ props.item._id }}</td>
            <td class="text-xs-center">{{ props.item.hardwareId }}</td>
            <td class="text-xs-center">{{ props.item.deviceAlias }}</td>
            <td class="text-xs-center">{{ props.item.emailPelanggan }}</td>
            <!-- <td class="text-xs-center">{{ props.item.createdAt }}</td> -->
            <td class="text-xs-center">
              <v-btn small fab color="info" @click="editRow(props.index)">
                <v-icon>
                  edit
                </v-icon>

              </v-btn>
              <v-btn small fab color="error" @click="deleteRow(props.index)">
                <v-icon>
                  delete
                </v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-layout row justify-center>
      <v-dialog v-model="showDialogKopi" persistent max-width="400">
        <v-card>
          <v-card-text>
            <div>
              <showkopi :propsdataKopi="newIDDevice">
              </showkopi>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" @click.native="showDialogKopi = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <addoredit :propsShow="dialog.show" :propsMode="dialog.mode" :propsForm="dialog.form" @onClose="dialog.show=false">

    </addoredit>

  </div>
</template>

<script>
  import addoredit from './addoredit.vue'
  import showkopi from './showkopi.vue'
  import jsKu from './deviceadmin.js'
  export default {
    components: {
      showkopi,
      addoredit
    },
    layout: 'layout',
    data() {
      return {
        dialog: {
          show: false,
          form: {},
          mode: '' //Tambah OR Edit
        },
        showDialogKopi: false,
        search: '',
        totalItems: 0,
        itemsTable: [],
        loading: false,
        pagination: {},
        dialogshowkopi: false,
        newIDDevice: '',
        headers: [
          {
            text: 'No',
            align: 'center',
            sortable: true,
            value: 'no',
            width: '50px'
          },
          {
            text: 'ID Token',
            align: 'center',
            sortable: true,
            value: 'uniqueToken'
          }, {
            text: 'ID Perangkat',
            align: 'center',
            sortable: true,
            value: 'uniqueToken',
            width: '50px'
          }, {
            text: 'Nama Perangkat ',
            align: 'center',
            sortable: false,
            value: "",
          }, {
            text: 'Email Pelanggan',
            align: 'center',
            sortable: true,
            value: 'uniqueToken'
          },
          //  {
          //   text: 'Tanggal Daftar',
          //   align: 'center',
          //   sortable: true,
          //   value: 'Tanggal Daftar'
          // },
          {
            text: 'Action',
            align: 'center',
            sortable: true,
            value: ''
          }
        ]

      }
    },
    watch: {
      pagination: {
        handler() {
          this.getlist()
        }
      }
    },
    methods: {
      editRow(index) {
        const idDevice = this.itemsTable[index]._id
        this.dialog.mode = "Edit"
        this.dialog.form = this.itemsTable[index]
        this.dialog.show = true
      },
      deleteRow(index) {
        const thisV = this
        // const idDevice = this.itemsTable[index]._id
        const data = this.itemsTable[index]
        jsKu.actions.httpDevicePelangganDelete(
          thisV, data
        ).then(value => {
          if (value.error === 0) {
            swal('Info', value.msg, 'success')
            thisV.getlist()
          } else {
            swal('Info', value.msg, 'error')
          }
          // console.log(value)
        }).catch((err) => {
          alert(err)
          console.error(err)
        })
      },
      generatedNewDevices() {
        const thisV = this
        jsKu.actions.httpGeneratedDevice(
          thisV
        ).then(value => {
          if (value.error === 0) {
            thisV.newIDDevice = value.payload.idDevice
            thisV.getlist()
            this.$nextTick(function () {
              thisV.showDialogKopi = true
            })
          } else {
            swal('Info', value.msg, 'error')
          }
          // console.log(value)
        }).catch((err) => {
          alert(err)
          console.error(err)
        })

        // this.dialogshowkopi = false
        // const thisV = this
        // setTimeout(() => {
        //   thisV.dialogshowkopi = true
        // }, 200)
      },
      getlist() {
        const thisV = this
        let limit = thisV.pagination.rowsPerPage
        let offset = thisV.pagination.page * limit - limit
        jsKu.actions.httpDeviceGetList({
          thisV: this,
          offset: offset,
          limit: limit
        }).then(value => {
          if (value.error === 0) {
            if (value.payload.totalItems <= thisV.pagination.rowsPerPage) {
              value.payload.totalItems = thisV.pagination.rowsPerPage
            }
            thisV.totalItems = value.payload.totalItems
            thisV.itemsTable = []
            thisV.itemsTable = value.payload.devices
            thisV.indexNo = []
            let count = offset + 1
            try {
              thisV.itemsTable.forEach(element => {
                element.index = count
                count++
              })
            } catch (error) {
              console.error(error)
            }
          } else {
            swal('Info', value.msg, 'error')
          }
          // console.log(value)
        }).catch((err) => {
          alert(err)
          console.error(err)
        })
      }
    },
    mounted() {
      // console.log(this.moment)
    }
  }
</script>