<template>
  <div>

    <v-card-text>
      <v-layout row wrap>
        <v-flex xs12 sm12>
          <v-text-field label="ID Devices" textarea v-model="propsdataKopi"></v-text-field>
        </v-flex>
        <v-flex xs2 sm4 v-if="propsdataKopi!==''">
          <v-tooltip top close-delay="1000" debounce="1000">
            <v-btn type="button" slot="activator" v-clipboard:copy="propsdataKopi" v-clipboard:success="onCopy" v-clipboard:error="onError">
              <v-icon>
                filter_none
              </v-icon>
              Salin ID!</v-btn>
            <span>Berhasil Mengkopi </span>
          </v-tooltip>
        </v-flex>
      </v-layout>
    </v-card-text>

  </div>
</template>
<script>
  export default {
    name: 'kopikode',
    props: ['propsdataKopi'],
    data() {
      return {
        dataKopi: '',
      }
    },
    watch: {

    },
    mounted() {
    },
    methods: {
      onCopy: function (e) {
        // alert('You just copied: ' + e.text)
      },
      onError: function (e) {
        alert('Failed to copy texts')
      },
    }
  }
</script>