<template>

    <div>
        <v-layout row justify-center>
            <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition" :overlay="false">
                <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title dark>Tambah pelanggan baru</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <!-- <v-toolbar-items>
                            <v-btn dark flat @click.native="dialog = false">Save</v-btn>
                        </v-toolbar-items> -->
                    </v-toolbar>
                    <div>
                        <br>
                        <v-layout>
                            <v-flex xs2>

                            </v-flex>
                            <v-flex xs6>
                                <v-card>
                                    <v-card-text>
                                        <v-text-field box label="*Email :" v-model="form.email" persistent-hint></v-text-field>
                                        <v-text-field box label="*Password :" v-model="form.password" persistent-hint></v-text-field>
                                        <v-text-field box label="*Nama Lengkap :" v-model="form.namaLengkap" persistent-hint></v-text-field>
                                        <v-text-field box label="*ID Telegram :" v-model="form.idTele" persistent-hint></v-text-field>
                                        <v-text-field box label="Alamat :" v-model="form.alamat" persistent-hint></v-text-field>
                                        <v-text-field box label="No Telp :" v-model="form.noTelp" persistent-hint></v-text-field>

                                        <div style="
                                       position: relative;
                                       align-items: center;
                                       align-content: center;
                                       ">
                                            <v-btn block color="primary" @click="onSubmit">
                                                Simpan
                                            </v-btn>

                                            <p>
                                                Note: untuk mengetahui id telegram ketik
                                                <b>myid</b> pada akun
                                                <a href="https://t.me/TelkomSK_bot" target="_blank">@TelkomSK_bot</a>
                                            </p>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>

<script>
    import jsKu from './pelanggan'

    export default {
        props: ['show'],
        data() {
            return {
                dialog: false,
                notifications: false,
                sound: true,
                widgets: false,
                form: {
                    email: 'edot92@gmail.com',
                    password: 'password',
                    namaLengkap: 'edyprasetiyo',
                    alamat: 'jakarta',
                    noTelp: '02823113132',
                    idTele: '347915626'
                }
            }
        },
        watch: {
            show(param) {
                this.dialog = param
            }
        },
        mounted() {
            this.dialog = this.show
        }, methods: {
            onSubmit() {
                const thisV = this
                let isValid = true
                // Object.keys(thisV.form).forEach(function (key) {
                //     if (thisV.form[key] === '') {
                //         isValid = false
                //     }
                // })
                // if (isValid === false) {
                //     swal('Info', 'harap lengkapi form', 'warning')
                //     return
                // }
                jsKu.actions.httpPelangganAddNew(
                    thisV, thisV.form
                )
                    .then((value) => {
                        if (value.error === 0) {
                            swal('', value.msg, 'success')
                            thisV.dialog = false
                        } else {
                            swal('', value.msg, 'error')
                        }
                    }).catch((err) => {
                        console.error(err)
                    })
            }
        }
    }
</script>