<template>
    <div>
        <v-layout row wrap>
            <v-flex xs12>
                <h2>
                    Profile Pelanggan
                </h2>
                <v-btn color="info" @click="getProfile()">
                    <v-icon>
                        refresh
                    </v-icon>
                </v-btn>
                <v-btn color="primary">
                    Ganti password
                </v-btn>
                <v-btn dark color="green darken-1" @click="updateProfile()">
                    Update
                </v-btn>
            </v-flex>
            <hr>
            <v-flex xs12 max-width="400px">
                <v-card>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.email.length > 0 || 'Harap lengkapi form']" required disabled label="Email :" v-model="form.email"></v-text-field>
                        </v-layout>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.namaLengkap.length > 0 || 'Harap lengkapi form']" required label="Nama Lengkap :" v-model="form.namaLengkap"></v-text-field>
                        </v-layout>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.alamat.length > 0 || 'Harap lengkapi form']" required label="Alamat :" v-model="form.alamat"></v-text-field>
                        </v-layout>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.noTelp.length > 0 || 'Harap lengkapi form']" required label="No Telp :" v-model="form.noTelp"></v-text-field>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs8>
                                <v-text-field :rules="[() => form.idTele.length > 0 || 'Harap lengkapi form']" required label=" ID Telegram :" v-model="form.idTele"></v-text-field>
                                <p>
                                    Note: untuk mengetahui id telegram ketik
                                    <b>myid</b> pada akun
                                    <a href="https://t.me/TelkomSK_bot" target="_blank">@TelkomSK_bot</a>
                                </p>
                            </v-flex>
                            <v-flex xs4>
                                <v-btn class="primary" @click="testSendTelegram()">
                                    Test Send Id
                                </v-btn>
                            </v-flex>

                        </v-layout>

                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

    </div>
</template>

<script>
    import jsKu from './profilepelanggan'
    export default {
        layout: 'layout',
        data() {
            return {
                form: {
                    email: '',
                    namaLengkap: '',
                    alamat: '',
                    noTelp: '',
                    idTele: ''
                }

            }
        },
        mounted() {
            this.$nextTick(function () {
                this.getProfile()
            })
        },
        methods: {
            updateProfile() {
                const thisV = this
                jsKu.actions.HttpUpdateProfilePelanggan(
                    thisV, thisV.form
                ).then(value => {
                    if (value.error === 0) {
                        swal('Info', value.msg, 'success')

                    } else {
                        swal('Info', value.msg, 'error')
                    }
                }).catch((err) => {
                    alert(err)
                })
            },
            getProfile() {
                const thisV = this
                jsKu.actions.HttpGetProfilePelanggan(
                    thisV
                ).then(value => {
                    if (value.error === 0) {
                        thisV.form = value.payload.user
                    } else {
                        swal('Info', value.msg, 'error')
                    }
                }).catch((err) => {
                    alert(err)
                })
            },
            testSendTelegram() {
                jsKu.actions.HttpTestSendTelergram(
                    this,
                    this.form.namaLengkap,
                    this.form.idTele,
                ).then(value => {
                    if (value.error === 0) {
                        swal('Info', value.msg, 'success')
                    } else {
                        swal('Info', value.msg, 'error')
                    }
                }).catch((err) => {
                    alert(err)
                })
            }
        }
    }
</script>