<template>
  <v-app>
    <main>
      <v-content>
        <v-container fluid>
          <nuxt/>
        </v-container>
      </v-content>
    </main>
  </v-app>
</template>

<script>

  export default {

  }
</script>

<style scoped>
</style>