<template>
    <v-app>
        <v-content>
            <v-container>
                <nuxt></nuxt>
            </v-container>
        </v-content>
        <loading :show="show" :label="label">
        </loading>
    </v-app>
</template>

<script>
    import loading from '../components/loading.vue'

    import vuexstart from './initvuex'
    export default {
        components: {
            loading
        },
        beforeCreate() {
            if (process.browser) {
                const thisV = this
                vuexstart.initVuex(thisV).then(res => {
                    thisV.$store.commit('setBaseUrl', window.location.hostname)
                }).catch(err => {
                    thisV.$store.commit('setBaseUrl', window.location.hostname)
                    window.location.href = "/login"
                    return
                })
            }
        },
        data() {
            return {
                show: false,
                label: 'Loading...',
            }
        },
        mounted() {
            const thisV = this
            $(document).on("setLoading", function (e, param) {
                thisV.show = param
            })
        }
    }
</script>