<template>

  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm10 md6>
        <v-card class="elevation-10">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn icon small href="https://www.facebook.com/BudiSeptianto1996" target="_blank" slot="activator">
                <v-icon small>mdi-info</v-icon>
                <!-- <span>Nama Aplikasi</span> -->
              </v-btn>
              <span>Aplikasi Tele IOT </span>
            </v-tooltip>
          </v-toolbar>
          <v-card-text>
            <!-- -->
            <v-form>
              <v-text-field prepend-icon="person" name="login" v-model="form.username" label="Login" type="text"></v-text-field>
              <v-text-field prepend-icon="lock" v-model="form.password" :append-icon="e4 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (e4 = !e4)"
                :type="e4 ? 'password' : 'text'" name="input-10-2" label="Enter your password" hint="At least 8 characters"
                min="8" value="Pa"></v-text-field>
              <!-- <v-select :items="itemSelect" label="Login Sebagai ?" single-line auto prepend-icon="option" hide-details></v-select> -->
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="doLoginPetugas">Login Petugas</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="error" @click="doLoginPelanggan">Login Pelanggan</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import jsku from './login.js'
  export default {
    layout: 'layoutpolos',
    data: () => ({
      drawer: null,
      itemSelect: [
        'petugas',
        'pengguna'
      ],
      e4: false,

      form: {
        username: 'budi@gmail.com',
        password: 'budi'
      }
    }),

    props: {
      source: String
    },
    mounted() {
      // this.$store.dispatch('User/isAuth').then(isAuth => {
      //   if (isAuth) {
      //     this.$router.push('/')
      //   } else {

      //   }
      // })
    },
    methods: {
      async doLoginPetugas() {
        if (this.form.username === '' && this.form.password === '') {
          swal({
            title: 'Informasi',
            text: 'mohon menglengkapi form',
            icon: 'error'
          })
          return
        }
        try {
          var username = this.form.username
          var password = this.form.password
          let value = await jsku.actions.HttpLoginPetugas(this, username, password)
          if (value.error === 0) {
            swal({
              title: 'Informasi',
              text: value.msg,
              icon: 'success'
            })
            this.$store.dispatch('User/setUser', value.payload).then(() => {
              this.$router.push('/')
            }).catch(error => {
              console.error(error)
            })
          } else {
            swal({
              title: 'Informasi',
              text: value.msg,
              icon: 'error'
            })
          }
        } catch (error) {
          console.error(error)
        }
      },
      async doLoginPelanggan() {
        if (this.form.username === '' && this.form.password === '') {
          swal({
            title: 'Informasi',
            text: 'mohon menglengkapi form',
            icon: 'error'
          })
          return
        }
        try {
          var username = this.form.username
          var password = this.form.password
          let value = await jsku.actions.HttpLoginPelanggan(this, username, password)
          if (value.error === 0) {
            swal({
              title: 'Informasi',
              text: value.msg,
              icon: 'success'
            })
            this.$store.dispatch('User/setUser', value.payload).then(() => {
              this.$router.push('/')
            }).catch(error => {
              console.error(error)
            })
          } else {
            swal({
              title: 'Informasi',
              text: value.msg,
              icon: 'error'
            })
          }
        } catch (error) {
          console.error(error)
        }
      }
    }
  }
</script>