<template>
    <div>
        <v-layout row wrap>
            <v-flex xs12>
                <h2>
                    Profile Petugas
                </h2>
                <v-btn color="info" @click="getProfile()">
                    <v-icon>
                        refresh
                    </v-icon>
                </v-btn>
                <v-btn color="primary">
                    Ganti password
                </v-btn>
                <v-btn dark color="green darken-1">
                    Update
                </v-btn>
            </v-flex>
            <hr>
            <v-flex xs12 max-width="400px">
                <v-card>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.email.length > 0 || 'Harap lengkapi form']" required disabled label="Email :" v-model="form.email"></v-text-field>
                        </v-layout>
                        <v-layout row wrap>
                            <v-text-field :rules="[() => form.namaLengkap.length > 0 || 'Harap lengkapi form']" required label="Nama Lengkap :" v-model="form.namaLengkap"></v-text-field>
                        </v-layout>
                        <v-layout row wrap v-if="form.alamat">
                            <v-text-field :rules="[() => form.alamat.length > 0 || 'Harap lengkapi form']" required label="Alamat :" v-model="form.alamat"></v-text-field>
                        </v-layout>
                        <v-layout row wrap v-if=" form.noTelp">
                            <v-text-field :rules="[() => form.noTelp.length > 0 || 'Harap lengkapi form']" required label="No Telp :" v-model="form.noTelp"></v-text-field>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

    </div>
</template>

<script>
    import jsKu from './profilepetugas'
    export default {
        layout: 'layout',
        data() {
            return {
                form: {
                    email: '',
                    namaLengkap: '',
                    alamat: '',
                    noTelp: '',
                }

            }
        },
        mounted() {
            this.$nextTick(function () {
                this.getProfile()
            })
        },
        methods: {
            getProfile() {
                const thisV = this
                jsKu.actions.HttpGetProfilePetugas(
                    thisV
                ).then(value => {
                    if (value.error === 0) {
                        console.log(value.payload.user)
                        thisV.form = value.payload.user
                    } else {
                        swal('Info', value.msg, 'error')
                    }
                }).catch((err) => {
                    console.error(err)
                })
            },

        }
    }
</script>