<template>
    <div>

        <v-layout wrap row>
            <v-flex xs12>
                <h2>
                    Device Management
                </h2>
                <!-- <v-btn small color="primary" @click="onAddNewDevice()">
                    <v-icon>
                        add
                    </v-icon>
                </v-btn> -->
                <v-btn small color="primary" @click="getlist()">
                    <v-icon>
                        refresh
                    </v-icon>
                </v-btn>
            </v-flex>
            <v-divider></v-divider>
            <v-flex xs12>
                <v-data-table :headers="headers" :items="itemsTable" :search="search" :pagination.sync="pagination" :total-items="totalItems"
                    :loading="loading">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-center">{{props.item.index}}</td>
                        <td class="text-xs-center">{{props.item._id}}</td>
                        <td class="text-xs-center">{{props.item.deviceAlias}}</td>
                        <td class="text-xs-center">{{props.item.hardwareId}}</td>
                        <td class="text-xs-center">
                            <v-btn small fab class="primary" @click="editRow(props.index)">
                                <v-icon>
                                    edit
                                </v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>

        <addoredit :propsShow="dialog.show" :propsMode="dialog.mode" :propsForm="dialog.form" @onClose="dialog.show=false">

        </addoredit>

    </div>
</template>

<script>
    import addoredit from './addoredit.vue'
    import jsKu from './devicepelanggan.js'
    export default {
        components: {
            addoredit
        },
        layout: 'layout',
        data() {
            return {
                dialog: {
                    show: false,
                    mode: '',
                    form: {
                        idDevice: ''
                    }
                },
                search: '',
                totalItems: 0,
                itemsTable: [],
                loading: false,
                pagination: {},
                headers: [
                    {
                        text: 'No ',
                        align: 'center',
                        sortable: false,
                        value: 'no'
                    },
                    {
                        text: ' ID Perangkat ',
                        align: 'center',
                        sortable: false,
                        value: "",
                    }, {
                        text: 'Nama Perangkat ',
                        align: 'center',
                        sortable: false,
                        value: "",
                    }, {
                        text: 'ID Remote',
                        align: 'center',
                        sortable: false,
                        value: "",
                    }, {
                        text: 'Action',
                        value: "",
                        align: 'center',
                        sortable: false,
                    },
                ],
                items: [

                ]
            }
        },
        watch: {
            pagination: {
                handler() {
                    this.getlist()
                }
            }
        },
        methods: {
            editRow(index) {
                const idDevice = this.itemsTable[index]._id
                this.dialog.mode = "Edit"
                this.dialog.form = this.itemsTable[index]
                this.dialog.show = true
            },
            onAddNewDevice() {
                jsKu.actions.httpBuatDeviceBaruPelanggan(
                    this
                ).then(value => {
                    if (value.error === 0) {
                        this.getlist()
                    }
                }).catch((err) => {
                    alert(err)
                })
                // this.dialog.mode = "Tambah"
                // this.dialog.show = true
            },
            getlist() {
                const thisV = this
                let limit = thisV.pagination.rowsPerPage
                let offset = thisV.pagination.page * limit - limit
                jsKu.actions.httpGetDeviceListPelanggan({
                    thisV: this,
                    offset: offset,
                    limit: limit
                }).then(value => {
                    if (value.error === 0) {
                        if (value.payload.totalItems <= thisV.pagination.rowsPerPage) {
                            value.payload.totalItems = thisV.pagination.rowsPerPage
                        }
                        thisV.totalItems = value.payload.totalItems
                        thisV.itemsTable = []
                        if (value.payload.devices === null) {
                            return
                        }
                        thisV.itemsTable = value.payload.devices
                        thisV.indexNo = []
                        let count = offset + 1
                        try {
                            thisV.itemsTable.forEach(element => {
                                element.index = count
                                count++
                            })
                        } catch (error) {
                            console.error(error)
                        }
                    } else {
                        swal('Info', value.msg, 'error')
                    }
                    console.log(value)
                }).catch((err) => {
                    console.error(err)
                })
            }
        }
    }
</script>