<template>
  <div>
    <h2>
      Users Petugas
    </h2>
    <v-layout wrap row>
      <v-flex xs12>
        <v-btn small color="primary" @click="onDialogAdd()">
          <v-icon>
            add
          </v-icon>
        </v-btn>
        <v-btn small color="primary" @click="getlist()">
          <v-icon>
            refresh
          </v-icon>
        </v-btn>
      </v-flex>
      <v-divider></v-divider>
      <v-flex xs12>
        <v-data-table :headers="headers" :items="items" :search="search" :pagination.sync="pagination" :total-items="totalItems"
          :loading="loading">
          <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{props.item.index}}</td>
            <td class="text-xs-center">{{props.item.email}}</td>
            <td class="text-xs-center">{{props.item.namaLengkap}}</td>
            <td class="text-xs-center">{{props.item.alamat}}</td>
            <td class="text-xs-center">{{props.item.noTelp}}</td>
            <td>
              <v-btn class="error">
                delete
              </v-btn>
              <v-btn class="primary">
                edit
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
      <div v-if="dialogAdd==true">
        <add :show="dialogAdd">

        </add>
      </div>

    </v-layout>
  </div>
</template>

<script>
  import add from './add.vue'
  import jsKu from './petugas'
  export default {
    components: {
      add
    },
    layout: 'layout',
    data() {
      return {
        search: '',
        totalItems: 0,
        items: [],
        loading: false,
        pagination: {},
        dialogAdd: false,
        indexNo: [],
        headers: [
          {
            text: 'No ',
            align: 'center',
            sortable: true,
            value: 'no'
          },
          {
            text: 'Email ',
            align: 'center',
            sortable: true,
            value: 'email'
          },
          {
            text: 'Nama Lengkap ',
            align: 'center',
            sortable: true,
            value: 'namaLengkap'
          },
          {
            text: 'Alamat ',
            align: 'center',
            sortable: true,
            value: 'alamat'
          },
          {
            text: 'No Telp ',
            align: 'center',
            sortable: true,
            value: 'noTelp'
          }, {
            text: 'Action ',
            align: 'center',
          }
        ]
      }
    },
    watch: {
      pagination: {
        handler() {
          this.getlist()
        }
      }
    },
    mounted() {
      this.getlist()
    },
    methods: {
      onDialogAdd() {
        this.dialogAdd = false
        const thisV = this
        setTimeout(() => {
          thisV.dialogAdd = true
        }, 200)
      },
      getlist() {
        const thisV = this
        let limit = thisV.pagination.rowsPerPage
        let offset = thisV.pagination.page * limit - limit
        jsKu.actions.httpPetugasGetList({
          thisV: this,
          offset: offset,
          limit: limit
        }).then(value => {
          if (value.error === 0) {
            if (value.payload.totalItems <= thisV.pagination.rowsPerPage) {
              value.payload.totalItems = thisV.pagination.rowsPerPage
            }
            thisV.totalItems = value.payload.totalItems
            thisV.items = []
            thisV.items = value.payload.user
            thisV.indexNo = []
            let count = offset + 1
            try {
              thisV.items.forEach(element => {
                element.index = count
                count++
              })
            } catch (error) {
              console.error(error)
            }
            console.log(thisV.items)
          } else {
            swal('Info', value.msg, 'error')
          }
          console.log(value)
        }).catch((err) => {
          console.error(err)
        })
      }
    }
  }
</script>