<template>

    <div>
        <v-layout row justify-center>
            <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition" :overlay="false">
                <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
                <v-card>
                    <v-toolbar dark color="primary">
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Add new device</v-toolbar-title>
                    </v-toolbar>
                    <div>
                        <br>
                        <v-layout>
                            <v-flex xs2>

                            </v-flex>
                            <v-flex xs6>
                                <v-card>
                                    <v-card-text>
                                        <v-text-field box label="Unique Token :" v-model="form.uniqueToken" persistent-hint></v-text-field>
                                        <v-text-field box label="namadevice :" v-model="form.namaDevice" persistent-hint></v-text-field>
                                        <div style="
                                        position: relative;
                                        align-items: center;
                                        align-content: center;
                                        ">
                                            <v-btn @click="onSubmit" block color="primary">
                                                Simpan
                                            </v-btn>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>

<script>
    export default {
        props: ['show'],
        data() {
            return {
                form: {
                    uniqueToken: '',
                    namaDevice: '',
                },
                dialog: false,
                notifications: false,
            }
        },
        watch: {
            show(param) {
                this.dialog = param
            }
        },
        mounted() {
            this.generateRandom()
        },
        methods: {
            generateRandom() {
                this.uniqueToken = this.$moment().format('x') +
                    Math.random().toString(36).substring(7)

                let tempuserAndPas = ''
                tempuserAndPas = this.$moment().format('DDMM') + Math.random().toString(36).substring(10) + this.$moment().format('hhmmss')
                this.username = tempuserAndPas
                this.password = tempuserAndPas
                this.dialog = this.show
            },
            onSubmit() {
                const thisV = this
                let isValid = true
                Object.keys(thisV.form).forEach(function (key) {
                    if (thisV.form[key] === '') {
                        isValid = false
                    }
                })
                if (isValid === false) {
                    swal('Info', 'harap lengkapi form', 'warning')
                    return
                }
                jsKu.actions.httpPetugasAddNew(
                    thisV, thisV.form
                )
                    .then((value) => {
                        if (value.error === 0) {
                            swal('', value.msg, 'success')
                            thisV.dialog = false
                        } else {
                            swal('', value.msg, 'error')
                        }
                    }).catch((err) => {
                        console.error(err)
                    })
            }
        }
    }
</script>